<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>I Love Tany</title>
    <!-- Bootstrap -->
    <link href="../css/Tany_narae.css" rel="stylesheet">
  <style type="text/css">
    #navbarDropdown {
	width: 30px;
}
    .blank {
	width: 30px;
}
    .IMGBOX {
	/* [disabled]height: 200px; */
	width: 40%;
	margin-left: auto;
	margin-right: 0px;
	/* [disabled]display: block; */
	text-align: center;
	/* [disabled]-webkit-box-sizing: content-box; */
	/* [disabled]-moz-box-sizing: content-box; */
	/* [disabled]box-sizing: content-box; */
	float: left;
}
    .IMGFrame {
	width: 100%;
	position: static;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align: center;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
    .InfoStart {
	background-color: rgba(142,169,219,0.60);
	width: 100pc;
	padding-left: 30px;
	border-radius: 20px;
}
    .InfoBox {
	width: 30%;
	margin-top: 10px;
	padding-left: 20px;
}
    .InfoValue {
	width: 70%;
	float: none;
	text-align: right;
	position: static;
	margin-top: 10px;
	padding-right: 30px;
}
    .middleBox {
	width: 100%;
	float: left;
	padding-bottom: 10px;
	padding-top: 10px;
	display: flex;
}
  .middle_box {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}
  .rentbox {
	border: 3px solid rgba(142,169,219,0.30);
	background-color: rgba(221,229,244,1.00);
	height: auto;
	margin-top: 50px;
	color: #212529;
	margin-bottom: 30px;
	max-width: 900px;
	width: 80%;
}
  .rentBoxLeft {
	height: 100px;
	width: 30%;
}
  .space {
	font-family: "12롯데마트드림Bold", "12롯데마트드림Light", "12롯데마트드림Medium";
	text-align: center;
}
  </style>
    <link href="../jQueryAssets/jquery.ui.core.min.css" rel="stylesheet" type="text/css">
    <link href="../jQueryAssets/jquery.ui.theme.min.css" rel="stylesheet" type="text/css">
    <link href="../jQueryAssets/jquery.ui.button.min.css" rel="stylesheet" type="text/css">
    <link href="../jQueryAssets/jquery.ui.datepicker.min.css" rel="stylesheet" type="text/css">
    <link href="../css/Tany_narae.css" rel="stylesheet" type="text/css">
    <!-- <script src="jQueryAssets/jquery-1.11.1.min.js"></script> -->
    <link href="../css/Tany_narae.css" rel="stylesheet" type="text/css">
    <script src="../js/jquery-3.2.1.min.js"></script>
  <script src="../jQueryAssets/jquery.ui-1.10.4.button.min.js"></script>
  <script src="../jQueryAssets/jquery.ui-1.10.4.datepicker.min.js"></script>
  </head>
<body>
	 <!--해보자-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light"> <a class="navbar-brand" href="index.ejs">
    <div class="LogoBox"><img src="../images/LogoBig.png" width="39" height="40" alt=""/></div></a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent1">
         <ul class="navbar-nav mr-auto">
           <li class="nav-item active"> <a class="nav-link" href="#">소개 </a> </li>
           <li class="nav-item active"> <a class="nav-link" href="#">요금 안내 </a> </li>

          </ul>
<% data.forEach(function(item,index){ %>
            <span style="font-size: 14px"><b><%= item.memID%></b></span>  
<% });%>  &nbsp

         <form class="form-inline my-2 my-lg-0">
           <input type="search" class="form-control mr-sm-2" placeholder="Search" size="10" aria-label="Search">
           <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
      </div>
  </nav>
	
<section>
  <div class="container">
   
  </div>
	
  <div class="container ">
    <div class="row">
      <div id="rentboxLeft"></div>	
    </div>
    <div class="narraow_container">
	      <div class="row">
      <div id="detail_BOX">
        <div class="space"><h2>회원가입</h2></div>	
		<div class="car_text_Box">
		  <div class="login_box">       		
			<h5>아이디</h5><input type="text">
			<h5>비밀번호</h5><input type="text">
		  </div>
        </div>
		<a href="index.ejs"><input type="submit" class="center_button" value="회원가입"></a>
	  </div>
	  </div>	  
    </section>
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>Copyright © MyWebsite. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
  
    <!-- Include all compiled plugins (below), or include individual files as needed --> 
  <script src="../js/popper.min.js"></script> 
<script src="../js/bootstrap-4.0.0.js"></script>
<script type="text/javascript">
$(function() {
	$( "#Checkboxes1" ).buttonset(); 
});
$(function() {
	$( "#Datepicker1" ).datepicker(); 
});
  </script>
  </body>
</html>