<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>I Love Tany</title>
    <!-- Bootstrap -->
    <link href="../css/Tany_narae.css" rel="stylesheet">
  <style type="text/css">
    #navbarDropdown {
   width: 30px;
}
    .blank {
   width: 30px;
}
    .IMGBOX {
   /* [disabled]height: 200px; */
   width: 40%;
   margin-left: auto;
   margin-right: 0px;
   /* [disabled]display: block; */
   text-align: center;
   /* [disabled]-webkit-box-sizing: content-box; */
   /* [disabled]-moz-box-sizing: content-box; */
   /* [disabled]box-sizing: content-box; */
   float: left;
}
    .IMGFrame {
   width: 100%;
   position: static;
   margin-top: 0px;
   margin-right: 0px;
   margin-bottom: 0px;
   text-align: center;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}
    .InfoStart {
   background-color: rgba(142,169,219,0.60);
   width: 100pc;
   padding-left: 30px;
   border-radius: 20px;
}
    .InfoBox {
   width: 30%;
   margin-top: 10px;
   padding-left: 20px;
}
    .InfoValue {
   width: 70%;
   float: none;
   text-align: right;
   position: static;
   margin-top: 10px;
   padding-right: 30px;
}
    .middleBox {
   width: 100%;
   float: left;
   padding-bottom: 10px;
   padding-top: 10px;
   display: flex;
}
  .middle_box {
   width: 100%;
   margin-top: 10px;
   margin-bottom: 10px;
}
  .rentbox {
   border: 3px solid rgba(142,169,219,0.30);
   background-color: rgba(221,229,244,1.00);
   height: auto;
   margin-top: 50px;
   color: #212529;
   margin-bottom: 30px;
   max-width: 900px;
   width: 80%;
}
  .rentBoxLeft {
   height: 100px;
   width: 30%;
}
  .space {
   font-family: "12롯데마트드림Bold", "12롯데마트드림Light", "12롯데마트드림Medium";
   text-align: center;
}
  </style>
    <link href="../jQueryAssets/jquery.ui.core.min.css" rel="stylesheet" type="text/css">
    <link href="../jQueryAssets/jquery.ui.theme.min.css" rel="stylesheet" type="text/css">
    <link href="../jQueryAssets/jquery.ui.button.min.css" rel="stylesheet" type="text/css">
    <link href="../jQueryAssets/jquery.ui.datepicker.min.css" rel="stylesheet" type="text/css">
    <link href="../css/Tany_narae.css" rel="stylesheet" type="text/css">
    <!-- <script src="jQueryAssets/jquery-1.11.1.min.js"></script> -->
    <link href="../css/Tany_narae.css" rel="stylesheet" type="text/css">
    <script src="../js/jquery-3.2.1.min.js"></script>
  <script src="../jQueryAssets/jquery.ui-1.10.4.button.min.js"></script>
  <script src="../jQueryAssets/jquery.ui-1.10.4.datepicker.min.js"></script>
  </head>
<body>
    <!--해보자-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light"> <a class="navbar-brand" href="index.ejs">
    <div class="LogoBox"><img src="../images/LogoBig.png" width="39" height="40" alt=""/></div></a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent1">
         <ul class="navbar-nav mr-auto">
           <li class="nav-item active"> <a class="nav-link" href="#">소개 </a> </li>
           <li class="nav-item active"> <a class="nav-link" href="#">요금 안내 </a> </li>
           <li class="nav-item active"> <a class="nav-link" href="car_enroll.ejs">차량 등록 </a> </li>
           <li class="nav-item active"> <a class="nav-link" href="find_car.ejs">예약하기  </a> </li>
           <li class="nav-item active"> <a class="nav-link" href="mypage.ejs">마이페이지 </a> </li>
           <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 사고관리 </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdown1"> <a class="dropdown-item" href="accident_confirm.ejs">사고 조회 </a> 
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="accident_enroll.ejs">내역 입력 </a> </div>
            </li>
          </ul>
<% data.forEach(function(item,index){ %>
            <span style="font-size: 14px"><b><%= item.memID%></b></span>  
<% });%>  &nbsp
          <a class="nav-link" href="index1.ejs">로그아웃</a>
         <form class="form-inline my-2 my-lg-0">
           <input type="search" class="form-control mr-sm-2" placeholder="Search" size="10" aria-label="Search">
           <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
      </div>
  </nav>
   
<section>
  <div class="container">
   
  </div>
   
  <div class="container ">
    <div class="row">
      <div id="rentboxLeft"></div>   
    </div>
    <div class="narraow_container">
         <div class="row">
      <div id="detail_BOX">
        <div class="space"><h2>차량 등록</h2></div>   
      <div class="car_text_Box">   
            <!----------------------------->
            <!--지원 블록체인---------------->
<table border="0" cellpadding="5" class="Text_left">
  <tbody>
    <tr>
      <td>차량 ID</td>
      <td><input type="text" style="width:300px" id="carId"></td>
    </tr>
    <tr>
      <td>차량 이름 </td>
      <td><input type="text" style="width:300px" id="carName"></td>
    </tr>
    <tr>
      <td>차종</td>
      <td>
	   <Select id="carType" name="carType">
                <option value="001">경형</option>
                <option value="002">소형</option>
                <option value="003">준중형</option>
                <option value="004">중형</option>
                <option value="005">대형</option>
                <option value="006">SUV</option>
                <option value="007">승합</option>
                <option value="008">수입</option>
            </Select></td>
    </tr>
    <tr>
      <td>제조사 </td>
      <td><input type="text" style="width:300px" id="company"></td>
    </tr>
    <tr>
      <td>시간당 주행 요금 </td>
      <td><input type="text" style="width:300px" id="fee"></td>
    </tr>
    <tr>
      <td>&탑승 인원</td>
      <td><input type="text" style="width:300px" id="pnum"></td>
    </tr>
    <tr>
      <td>주행거리 </td>
      <td><input type="text" style="width:300px" id="vmile"></td>
    </tr>
    <tr>
      <td>연료</td>
      <td><input type="text" style="width:300px" id="fuel"></td>
    </tr>
    <tr>
      <td>연비</td>
      <td><input type="text" style="width:300px" id="efficiency"></td>
    </tr>
    <tr>
      <td>변속방식 </td>
      <td><input type="text" style="width:300px" id="changeType"></td>
    </tr>
    <tr>
      <td>구입시기 </td>
      <td><input type="text" style="width:300px" id="purchaseTime"></td>
    </tr>

  </tbody>
</table><br><br>	
		  <div id="option">
		  옵션
			<input type="checkbox" id="op0"> 블랙박스
            <input type="checkbox" id="op1"> 에어백
            <input type="checkbox" id="op2"> 열선시트
            <input type="checkbox" id="op3"> CD
            <input type="checkbox" id="op4"> USB
            <input type="checkbox" id="op5"> 블루투스
            <input type="checkbox" id="op6"> 에어컨
		  
            <br><br>
		  <button type="button" class="btn btn-info">Enroll Car </button>
		  </div>

      </div>
     </div>
     
     </div>
        <div class="alert alert-info" role="alert" id="message">
                            You can either submit data and get information about it.
                        </div>
     </div>
    </div>
</section>
    
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p>Copyright © MyWebsite. All rights reserved.</p>
          </div>
        </div>
      </div>4
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
  
    <!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="../js/popper.min.js"></script> 
<script src="../js/bootstrap-4.0.0.js"></script>

<script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="../jQueryAssets/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/car.js"></script>
<script type="text/javascript">
$(function() {
   $( "#Checkboxes1" ).buttonset(); 
});
$(function() {
   $( "#Datepicker1" ).datepicker(); 
});
  </script>
  </body>
</html>